footer.footer#contacts
	.wrapper 

		.footer__top 

			a.footer__logo(href="#") 
				img(src="img/logo.svg", alt="")

			nav.footer__menu 
				ul.footer__list 
					li
						a(href="#vacancies" data-translate="Job") Вакансии
					li
						a(href="#about" data-translate="Our game") Наша игра
					li
						a(href="#path" data-translate="History") История
					li
						a(href="#contacts" data-translate="Contacts") Контакты

				ul.footer__lang.js-translate
					li(data-lang="ru").active RU
					li(data-lang="en") EN

				.btn.btn--fill.modal-trigger(data-modal="#callback" data-translate="Send resume") ОТПРАВИТЬ РЕЗЮМЕ

		.footer__bottom 

			.footer__left 

				.footer__col 
					.footer__title СОЦИАЛЬНыЕ СЕтИ
					ul.footer__social
						li 
							a(href="#") 
								img(src="img/vk.svg", alt="")
						li 
							a(href="#") 
								img(src="img/yt.svg", alt="")
						li 
							a(href="#") 
								img(src="img/tw.svg", alt="")
				
				.footer__col 
					.footer__title Пишите нам
					a(href="mailto:job@kowiygames.com").footer__link job@kowiygames.com

			.footer__right 

				.footer__copyright KowiyGames © 2022
