header.header#header
	.wrapper

			a(href="index.html").header__logo 
				img(src="img/logo.svg", alt="")

			.menu.menu--right#menu
				nav.menu__nav
					ul.menu__list
						li
							a(href="#vacancies" data-translate="Job") Вакансии
						li
							a(href="#about" data-translate="Our game") Наша игра
						li
							a(href="#path" data-translate="History") История
						li
							a(href="#contacts" data-translate="Contacts") Контакты
					ul.menu__lang
						li(data-lang="ru").active RU
						li(data-lang="en") EN
					.btn.btn--fill.modal-trigger(data-modal="#callback" data-translate="Send resume") ОТПРАВИТЬ РЕЗЮМЕ
				#menu-over.menu__over.js-menu-close(data-drop="menu")

			.header__btn.js-menu-btn(data-drop="menu")
				.header__btn-inner