// header
header.header#header
	.wrapper

			a(href="index.html").header__logo 
				img(src="img/logo.svg", alt="")

			// menu
			//- .menu--left .menu--right
			.menu.menu--right#menu
				nav.menu__nav
					ul.menu__list
						li
							a(href="#") Вакансии
						li
							a(href="#") Наша игра
						li
							a(href="#") История
						li
							a(href="#") Контакты
					ul.menu__lang 
						li.active RU
						li EN
					.btn.btn--fill ОТПРАВИТЬ РЕЗЮМЕ
				#menu-over.menu__over.js-menu-close(data-drop="menu")
			// /menu

			.header__btn.js-menu-btn(data-drop="menu")
				.header__btn-inner

// /header