extends blocks/base.pug

block title 
	title Главная

block content

	.page

		include blocks/header.pug
		
		.content

			section.welcome 

				.welcome__bg 
					img(src="img/welcome_bg.jpg", alt="")
				.welcome__cube-1
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000")
				.welcome__cube-2
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000")
				.welcome__cube-3
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000")
				.welcome__cube-4
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000" data-revers="true")

				.wrapper 
					.welcome__content 
						.welcome__logo 
							picture 
								source(media="(max-width: 768px)", srcset="img/logo_welcome-mob.svg")
								img(src="img/logo_welcome.svg", alt="")
						h1.welcome__title(data-translate="Making a game with love") делаем игру с любовью
						.welcome__buttons 
							a(href="#about").btn.btn--fill(data-translate="What's the game?") ЧТО ЗА ИГРА?
							.btn.btn--border.modal-trigger(data-modal="#callback" data-translate="Contact Us") Написать нам

			section.vacancies#vacancies
				.wrapper 

					.vacancies__head 
						h2.title(data-translate="Welcome <br>to our team") Приглашаем <br>в нашу команду
						.vacancies__arrows 
							.vacancies__arrow.vacancies__arrow--prev.swiper-button-prev
								<svg width="22" height="36" viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.6782 35.3554L21.9208 31.1127L4.24316 13.4351L0.000522774 17.6777L17.6782 35.3554Z"/>
									<path d="M21.9213 4.24271L17.6786 6.51479e-05L0.000976562 17.6777L4.24362 21.9204L21.9213 4.24271Z"/>
								</svg>

							.vacancies__arrow.vacancies__arrow--next.swiper-button-next
								<svg width="22" height="36" viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.24368 35.3554L0.00104171 31.1127L17.6787 13.4351L21.9214 17.6777L4.24368 35.3554Z"/>
									<path d="M0.000586431 4.24271L4.24323 6.51479e-05L21.9209 17.6777L17.6783 21.9204L0.000586431 4.24271Z"/>
								</svg>

					#vacanciesSlider.vacancies__slider 
						.swiper-wrapper 
							.swiper-slide 
								.vacancies__item 
									.vacancies__place
										ul 
											li(data-translate="Moskow") Москва
											li(data-translate="Remotely") Удалённо
									.vacancies__title Level Designer
									.vacancies__text(data-translate="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, laudantium sed ea id fugit, qui consectetur ipsa exercitationem consequatur molestiae, dicta at? Possimus ducimus est suscipit adipisci laboriosam, sunt exercitationem?") Мы ищем ещё одного гейм-дизайнера, которому сможем полностью доверить создание новых захватывающих экспедиций. Вашу работу увидит весь мир - ответственное и волнительное дело. Готовы создавать целые миры?
									.vacancies__btn 
										a(href="vacancy-level_designer.html" data-translate="Respond").btn.btn--border ХОЧУ РАБОТАТЬ
							.swiper-slide 
								.vacancies__item 
									.vacancies__place
										ul 
											li(data-translate="Remotely") Удалённо
									.vacancies__title Data Engineer
									.vacancies__text(data-translate="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, laudantium sed ea id fugit, qui consectetur ipsa exercitationem consequatur molestiae, dicta at? Possimus ducimus est suscipit adipisci laboriosam, sunt exercitationem?") Vы стремимся к тому, чтобы аналитика была неотъемлемой частью всех наших процессови являлась опорой для принятия важных для компании решений. Именно поэтомумы ищем крутого Data Engineer! 
									.vacancies__btn 
										a(href="vacancy-data_engineer.html" data-translate="Respond").btn.btn--border ХОЧУ РАБОТАТЬ
							.swiper-slide 
								.vacancies__item 
									.vacancies__place
										ul 
											li(data-translate="Dubai") Дубай
									.vacancies__title TechOps Engineer
									.vacancies__text(data-translate="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, laudantium sed ea id fugit, qui consectetur ipsa exercitationem consequatur molestiae, dicta at? Possimus ducimus est suscipit adipisci laboriosam, sunt exercitationem?") Можешь найти ошибку там, где её никто не видит? Одно твоё слово останавливает панику, когда двести человек кричат «всё упало, помогите»? Если это про тебя — ты прирождённый TechOps-инженер.
									.vacancies__btn 
										a(href="vacancy-techops_engineer.html" data-translate="Respond").btn.btn--border ХОЧУ РАБОТАТЬ
							.swiper-slide 
								.vacancies__item 
									.vacancies__place
										ul 
											li(data-translate="Dubai") Дубай
									.vacancies__title TechOps Engineer
									.vacancies__text(data-translate="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, laudantium sed ea id fugit, qui consectetur ipsa exercitationem consequatur molestiae, dicta at? Possimus ducimus est suscipit adipisci laboriosam, sunt exercitationem?") Можешь найти ошибку там, где её никто не видит? Одно твоё слово останавливает панику, когда двести человек кричат «всё упало, помогите»? Если это про тебя — ты прирождённый TechOps-инженер.
									.vacancies__btn 
										a(href="vacancy-techops_engineer.html" data-translate="Respond").btn.btn--border ХОЧУ РАБОТАТЬ

					.features
						.row.gy
							.features__col 
								.features__item 
									.features__title(data-translate="Terms") Условия
									.features__text(data-translate="Work remotely or in offices in Moscow and Dubai") Работа удалённо или в офисах в Москве и Дубае
							.features__col 
								.features__item 
									.features__title(data-translate="Process") Процесс
									.features__text(data-translate="We help employees, pump and encourage") Помогаем сотрудникам, прокачиваем и поощряем
							.features__col 
								.features__item 
									.features__title(data-translate="Reward") Награда
									.features__text(data-translate="The whole team is reaping the fruits of hard work") Вся команда пожинает плоды кропотливого труда

			section.about#about

				.about__cube-1 
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000") 
				.about__cube-2 
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000") 
				.about__cube-3 
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000") 
				.about__cube-4 
					img(src="img/cube.svg", alt="").js-parallaxMouse(data-speed="1000") 

				.wrapper

					.about__content
						h2.title(data-translate="Introducing <span>our</span> Cubix game") Представляем 
							span нашу игру 
							| Cubix
						.about__sub(data-translate="Immerse yourself in a large multiplayer cube world where you will build, fight monsters and make friends") Окунись в большой многопользовательский кубический мир, где ты будешь строить, сражаться с монстрами и находить друзей!
						.about__buttons 
							a(href="#").about__btn 
								img(src="img/app_store.png", alt="")
							a(href="#").about__btn 
								img(src="img/google_play.png", alt="")
						.about__text(data-translate="By installing the application you accept the user agreement and the offer agreement") Устанавливая приложения вы принимаете пользовательское соглашение и договор офферы.
					.about__img 
						img(src="img/about.png", alt="")

					.features
						.row.gy
							.features__col 
								.features__item 
									.features__title(data-translate="Open world") Открытый мир
									.features__text(data-translate="Big world where everyone can find a place") Большой мир, в котором каждому найдется место
							.features__col 
								.features__item 
									.features__title(data-translate="Community") Комьюнити
									.features__text(data-translate="Players work together and explore the game world") Игроки действуют вместе и исследуют мир игры
							.features__col 
								.features__item 
									.features__title(data-translate="Graphics") Графика
									.features__text(data-translate="Nice and stylish graphics in your phone") Приятная и стильная графика в твоём телефоне

			section.path#path
				.wrapper 
					.path__row 
						.path__col 
							.path__img 
								img(src="img/team.png", alt="")
						.path__col 
							.path__content
								h2.path__title.path__title--big(data-translate="About the team and our path") О команде и нашем пути
								.path__text(data-translate="We are Minecraft players with a lot of experience. Studied and created in the game. All our employees are not just hired personnel - they treat the project with a soul, a desire to create a great story") Мы игроки в майнкрафт с большим опытом. Изучали и создавали в игре.Все наши сотрудники не просто нанятый персонал — они относятся к проекту с душой, желанием создать большую историю
					.path__row 
						.path__col 
							.path__content
								h2.title(data-translate="It all started from our childhood") Всё начиналось с нашего детства
								.path__text(data-translate="As children, we learned about Minecraft and this world fascinated us a lot. Then we realized that we can create something, and it's interesting") Будучи детьми, мы узнали про Minecraft и этот мир сильно нас увлёк. Тогда мы поняли что можем что-то создавать, и это интересно
						.path__col 
							.path__img 
								img(src="img/start_path.png", alt="")
					.path__row 
						.path__col 
							.path__img 
								img(src="img/job.png", alt="")
						.path__col 
							.path__content
								h2.title(data-translate="We created game projects") Мы создавали игровые проекты
								.path__text(data-translate="It started to bring the first income, developed us by trial and error, but in the end all the efforts paid off") Это начало приносить первый доход, развивало нас методом проб и ошибок,но в конечном итоге все усилия окупились
					.path__row 
						.path__col 
							.path__content
								h2.title(data-translate="And now, finally, we have succeeded") И вот, наконец, мы добились успеха
								.path__text(data-translate="Now we have funds, experience, a team, offices in Moscow and Dubai, a lot of ideas and a desire to create our own unique product") Теперь у нас есть средства, опыт, команда, офисы в Москве и Дубае, множество идей и желание создать свой, уникальный продукт
						.path__col 
							.path__img 
								img(src="img/success.png", alt="")


		include blocks/footer.pug

	include blocks/callback.pug