extends blocks/base.pug

block title 
	title Главная

block content

	.page

		include blocks/header.pug
		
		.content

			section.vacancy 
				.wrapper 
					.vacancy__row 
						.vacancy__content 
							.vacancy__name(data-translate="vacancy") вакансия
							h1.vacancy__title TechOps Engineer
							.vacancy__text(data-translate="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea consequuntur nesciunt voluptate vitae, quam similique soluta id? Sint quia libero, nemo aliquid id nam facilis nostrum adipisci est nesciunt esse?") Мы ищем ведущего гейм-дизайнера с опытом создания игровых фич. Как ведущий гейм-дизайнер, вы будете отвечать за фичи, которые увидят миллионы игроков. Вы сможете быстро развиваться в гейм-дизайне и продюсировании.
							.btn.btn--fill.modal-trigger(data-modal="#callback" data-translate="english") откликнуться
						.vacancy__img 
							img(src="img/team.webp", alt="")

			section.description 
				.wrapper 
					.description__container
						h2.description__title(data-translate="english") Задачи
						.description__text 
							p(data-translate="english") Написание концептов и ТЗ новых фич своей команды;
							p(data-translate="english") Ответственность за качество реализуемых фичей совместно с менеджером команды. 
							p(data-translate="english") Умение видеть проблемы в интерфейсах, балансе, общей логике фичи;
							p(data-translate="english") Анализ результатов фич совместно с продюсером проекта.
						h2.description__title ожидания
						.description__text 
							p(data-translate="english") Опыт создания фичей или событий в роли гейм-дизайнера;
							p(data-translate="english") Системное мышление, умение грамотно формулировать и доносить свои мысли устно и письменно.
					.description__container-sub
						h2.description__title(data-translate="english") Мы предлагаем
						h3.description__subtitle(data-translate="english") Комфортные условия
						.description__subtext(data-translate="english") Работайте там, где удобно: удаленно, в офисе или совмещайте форматы. Без согласований и трекинга рабочих часов.
						h3.description__subtitle(data-translate="english") Заботу о здоровье
						.description__subtext(data-translate="english") Компенсируем онлайн-сессии с психологом, открываем  для вас и ваших детей ДМС со стоматологией и лечением от COVID-19. Организуем вакцинацию для тех, кому это важно.
						h3.description__subtitle(data-translate="english") Развитие и обучение
						.description__subtext(data-translate="english") Оплачиваем участие в профильных конференциях и курсах, регулярно проводим внутренние буткемпы и стажировки. А для личного развития предлагаем доступ к тысячам книг в онлайн-библиотеке и скидки на курсы английского языка.
						h3.description__subtitle(data-translate="english") Формат работы
						.description__subtext(data-translate="english") Удаленно, или офис в Москве и Дубае


		include blocks/footer.pug

	include blocks/callback.pug
	