.header {
  width: 100%;
  padding: 23px 0;
  background-color: $color_text;
  position: absolute;
  z-index: 20;
  transition: 0.3s;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px + $offset * 2;
  }
  &__logo {
    width: 266px;
    margin-right: 20px;
    img {
      display: block;
    }
  }
  &__btn {
    display: none;
  }
  @media (max-width: $break_lg) {
    &__logo {
      width: 200px;
    }
  }
  @media (max-width: $break_md) {
    padding: 12px 0 16px;
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      background-color: $color_primary;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      &.active {
        .header__btn-inner {
          background: transparent;
          &:after {
            top: 0;
            transform: rotate(45deg);
          }
          &:before {
            width: 100%;
            top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__btn-inner {
      width: 14px;
      height: 2px;
      background-color: #fff;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -5px;
        left: 0;
        transition: 0.2s;
      }
      &:before {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 5px;
        left: 0;
        transition: 0.2s;
      }
    }
    &__logo {
      width: 136px;
    }
  }
  @media (max-width: $break_sm) {
    .wrapper {
      max-width: 1520px+$offset-sm * 2;
    }
  }
}

@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0)
  }
}

// stiky menu
#header {
  position: absolute;
  width: 100%;
  z-index: 20;

  &.stiky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showStyky 0.5s;
  }
}