.menu {
	position: relative;
	&__nav {
		display: flex;
		align-items: center;
		transition: .5s;
		.btn {
			margin-left: 30px;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		text-transform: uppercase;
		margin-left: -42px;
		li {
			margin-left: 42px;
		}
		a {
			display: block;
			color: #A3A3A3;
			position: relative;
			&.active {
				color: #fff;
			}
			&:hover {
				color: $color_secondary;
			}
		}
	}
	&__btn {
		display: none;
	}
	&__lang {
		display: flex;
		margin-left: 80px;
		font-size: 16px;
		color: #A3A3A3;
		li {
			cursor: pointer;
			user-select: none;
			margin-left: 10px;
			&.active {
				color: $color_primary;
			}
			&:hover {
				color: $color_secondary;
			}
		}
	}
	@media (max-width: $break_sm) {
		&__nav {
			width: 100%;
			max-width: 600px;
			padding: 20px;
			background-color: #fff;
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-y: auto;
		}
		&__list {
			display: block;
			li {

			}
			a {
				margin: 0;
			}
		}
		&__btn {
			display: inline-block;
		}

		&--left {
			.menu__nav {
				left: -800px;
			}
			&.open {
				.menu__nav {
					left: 0;
				}
			}
		}
		&--right {
			.menu__nav {
				right: -800px;
			}
			&.open {
				.menu__nav {
					right: 0;
				}
			}
		}
	}
}